In [30]:
import numpy as np  
import pandas as pd

In [24]:
path = "./Data/withFIGI.csv"

df = pd.read_csv(path, index_col=0)  
df

,Name_197,Exchange_197,Country_197,Currency_197,stockType_197,Code-EOD,Country-EOD,Currency-EOD,Exchange-EOD,ISIN,...,figi,compositeFIGI,shareClassFIGI,exchCode-FIGI,marketSector-FIGI,securityDescription-FIGI,securityType-FIGI,securityType2-FIGI,Not_Match,Source_Available
0,1ST GROUP LTD,ASX,Australia,AUD,COMMON,1ST,Australia,AUD,AU,AU0000001ST0,...,BBG008HNLRF4,BBG008HNLRF4,BBG008HNLRG3,AU,Equity,1ST,Common Stock,Common Stock,NaN,FIGI;IB;EOD;
1,2U INC,NASDAQ,United States of America,USD,COMMON,TWOU,USA,USD,US,US90214J1016,...,BBG001KS9450,BBG001KS9450,BBG001V0RR30,US,Equity,TWOU,Common Stock,Common Stock,NaN,FIGI;Inv;IB;EOD;
2,3DX INDUSTRIES INC,PINK,United States of America,USD,COMMON,DDDX,USA,USD,US,US88556A1007,...,BBG000C129N6,BBG000C129N6,BBG001STRH79,US,Equity,DDDX,Common Stock,Common Stock,NaN,FIGI;IB;EOD;
3,3M CO,US Exchange,Mexico,NaN,NaN,MMM,USA,USD,US,US88579Y1010,...,BBG000BP52R2,BBG000BP52R2,BBG001S5T7X2,US,Equity,MMM,Common Stock,Common Stock,NaN,FIGI;IB;EOD;
4,88 ENERGY LTD,LSE,United Kingdom,GBP,COMMON,88E,UK,GBX,LSE,AU00000088E2,...,BBG000BWTTK9,BBG000BWTTK9,BBG001SCV1F7,GR,Equity,POQ,Common Stock,Common Stock,NaN,FIGI;Inv;IB;EOD;
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19731,ZYNERBA PHARMACEUTICALS INC,NASDAQ,United States of America,USD,COMMON,ZYNE,USA,USD,US,US98986X1090,...,BBG007BBS8B7,BBG007BBS8B7,BBG007BBS8C6,US,Equity,ZYNE,Common Stock,Common Stock,NaN,FIGI;IB;EOD;
19732,ZYNEX INC,NASDAQ,United States of America,USD,COMMON,ZYXI,USA,USD,US,US98986M1036,...,BBG000BJBXZ2,BBG000BJBXZ2,BBG001S7T7V0,US,Equity,ZYXI,Common Stock,Common Stock,NaN,FIGI;IB;EOD;
19733,ZYNGA INC - CL A,NASDAQ,Switzerland,USD,COMMON,NaN,NaN,NaN,NaN,US98986T1088,...,BBG005YZL376,BBG005YZL2R6,BBG001T24RN2,XS,Equity,ZNGAEUR,Common Stock,Common Stock,NaN,FIGI;IB;
19734,ZYTRONIC PLC,LSE,United Kingdom,GBP,COMMON,ZYT,UK,GBX,LSE,GB0006971013,...,BBG000BZPV76,BBG000BZPTJ8,BBG001SFLP13,LN,Equity,ZYT,Common Stock,Common Stock,NaN,FIGI;IB;EOD;
19735,ZZ CAPITAL INTERNATIONAL LTD,SEHK,Hong Kong,HKD,COMMON,NaN,NaN,NaN,NaN,KYG9895T1085,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Inv;

In [25]:
df = df.drop(['Not_Match', 'Source_Available'], axis=1)

df

,Name_197,Exchange_197,Country_197,Currency_197,stockType_197,Code-EOD,Country-EOD,Currency-EOD,Exchange-EOD,ISIN,...,longName-FIGI,symbol-FIGI,figi,compositeFIGI,shareClassFIGI,exchCode-FIGI,marketSector-FIGI,securityDescription-FIGI,securityType-FIGI,securityType2-FIGI
0,1ST GROUP LTD,ASX,Australia,AUD,COMMON,1ST,Australia,AUD,AU,AU0000001ST0,...,1ST GROUP LTD,1ST,BBG008HNLRF4,BBG008HNLRF4,BBG008HNLRG3,AU,Equity,1ST,Common Stock,Common Stock
1,2U INC,NASDAQ,United States of America,USD,COMMON,TWOU,USA,USD,US,US90214J1016,...,2U INC,TWOU,BBG001KS9450,BBG001KS9450,BBG001V0RR30,US,Equity,TWOU,Common Stock,Common Stock
2,3DX INDUSTRIES INC,PINK,United States of America,USD,COMMON,DDDX,USA,USD,US,US88556A1007,...,3DX INDUSTRIES INC,DDDX,BBG000C129N6,BBG000C129N6,BBG001STRH79,US,Equity,DDDX,Common Stock,Common Stock
3,3M CO,US Exchange,Mexico,NaN,NaN,MMM,USA,USD,US,US88579Y1010,...,3M CO,MMM,BBG000BP52R2,BBG000BP52R2,BBG001S5T7X2,US,Equity,MMM,Common Stock,Common Stock
4,88 ENERGY LTD,LSE,United Kingdom,GBP,COMMON,88E,UK,GBX,LSE,AU00000088E2,...,88 ENERGY LTD,POQ,BBG000BWTTK9,BBG000BWTTK9,BBG001SCV1F7,GR,Equity,POQ,Common Stock,Common Stock
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19731,ZYNERBA PHARMACEUTICALS INC,NASDAQ,United States of America,USD,COMMON,ZYNE,USA,USD,US,US98986X1090,...,ZYNERBA PHARMACEUTICALS INC,ZYNE,BBG007BBS8B7,BBG007BBS8B7,BBG007BBS8C6,US,Equity,ZYNE,Common Stock,Common Stock
19732,ZYNEX INC,NASDAQ,United States of America,USD,COMMON,ZYXI,USA,USD,US,US98986M1036,...,ZYNEX INC,ZYXI,BBG000BJBXZ2,BBG000BJBXZ2,BBG001S7T7V0,US,Equity,ZYXI,Common Stock,Common Stock
19733,ZYNGA INC - CL A,NASDAQ,Switzerland,USD,COMMON,NaN,NaN,NaN,NaN,US98986T1088,...,ZYNGA INC - CL A,ZNGAEUR,BBG005YZL376,BBG005YZL2R6,BBG001T24RN2,XS,Equity,ZNGAEUR,Common Stock,Common Stock
19734,ZYTRONIC PLC,LSE,United Kingdom,GBP,COMMON,ZYT,UK,GBX,LSE,GB0006971013,...,ZYTRONIC PLC,ZYT,BBG000BZPV76,BBG000BZPTJ8,BBG001SFLP13,LN,Equity,ZYT,Common Stock,Common Stock
19735,ZZ CAPITAL INTERNATIONAL LTD,SEHK,Hong Kong,HKD,COMMON,NaN,NaN,NaN,NaN,KYG9895T1085,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Country, Sector/Industry, Exchange, ISIN, FIGI

In [26]:
df_ck = df.copy()
df_ck['Ranking'] = 0

columns = ['Country-EOD', 'Exchange-EOD', 'ISIN', 'country-Inv', 
           'figi', 'exchCode-FIGI']

for col in columns:
    df_ck.loc[~df_ck[col].isnull(),'Ranking'] = 1 + df_ck['Ranking'].astype(int)

df_ck[['Name_197','Ranking']]

                           Name_197  Ranking
0                     1ST GROUP LTD        5
1                            2U INC        6
2                3DX INDUSTRIES INC        5
3                             3M CO        5
4                     88 ENERGY LTD        6
...                             ...      ...
19731   ZYNERBA PHARMACEUTICALS INC        5
19732                     ZYNEX INC        5
19733              ZYNGA INC - CL A        3
19734                  ZYTRONIC PLC        5
19735  ZZ CAPITAL INTERNATIONAL LTD        2

[19736 rows x 2 columns]

In [27]:
df_ck['Ranking'].value_counts().to_frame()

   Ranking
5     7757
6     5261
0     2148
3     1901
1     1777
4      667
2      225

## Change Stock Type to Numer

In [28]:
from sklearn.preprocessing import LabelEncoder

LE = LabelEncoder()
df_ck['stockstockType_197_Num'] = LE.fit_transform(df_ck['stockType_197'])

df_ck[['stockType_197', 'stockstockType_197_Num']]

      stockType_197  stockstockType_197_Num
0            COMMON                       5
1            COMMON                       5
2            COMMON                       5
3               NaN                      34
4            COMMON                       5
...             ...                     ...
19731        COMMON                       5
19732        COMMON                       5
19733        COMMON                       5
19734        COMMON                       5
19735        COMMON                       5

[19736 rows x 2 columns]

In [29]:
df_ck['stockstockType_197_Num'].value_counts().to_frame()

    stockstockType_197_Num
5                    17345
34                     703
4                      428
25                     337
0                      263
9                      192
22                     119
18                      71
32                      41
14                      38
3                       38
27                      22
10                      19
29                      17
30                      15
16                      12
11                       9
21                       8
17                       7
6                        6
12                       6
7                        5
20                       5
31                       5
24                       4
28                       4
19                       3
13                       3
2                        3
8                        2
23                       2
26                       1
33                       1
1                        1
15                       1

## Check Stock Type Matches

In [168]:
df_type = df[['Name_197', 'stockType_197', 'Name-EOD', 'Type-EOD', 'securityType-FIGI', 'securityType2-FIGI']]

df_type

,Name_197,stockType_197,Name-EOD,Type-EOD,securityType-FIGI,securityType2-FIGI
0,1ST GROUP LTD,COMMON,1stAvailable Ltd,Common Stock,Common Stock,Common Stock
1,2U INC,COMMON,2U Inc,Common Stock,Common Stock,Common Stock
2,3DX INDUSTRIES INC,COMMON,3Dx Industries Inc,Common Stock,Common Stock,Common Stock
3,3M CO,NaN,3M Company,Common Stock,Common Stock,Common Stock
4,88 ENERGY LTD,COMMON,88 Energy Ltd,Common Stock,Common Stock,Common Stock
...,...,...,...,...,...,...
19731,ZYNERBA PHARMACEUTICALS INC,COMMON,Zynerba Pharmaceuticals Inc,Common Stock,Common Stock,Common Stock
19732,ZYNEX INC,COMMON,Zynex Inc,Common Stock,Common Stock,Common Stock
19733,ZYNGA INC - CL A,COMMON,NaN,NaN,Common Stock,Common Stock
19734,ZYTRONIC PLC,COMMON,Zytronic,Common Stock,Common Stock,Common Stock
19735,ZZ CAPITAL INTERNATIONAL LTD,COMMON,NaN,NaN,NaN,NaN

In [169]:
df_type.to_csv('./Data/stockType_table.csv')

In [170]:
df_type['stockType_197'] = df_type['stockType_197'].map({'COMMON': 'Common Stock','PREFERRED': 'Preferred Stock'}).fillna(df_type['stockType_197'])
df_type['Type-EOD'] = df_type['Type-EOD'].map({'FUND': 'Mutual Fund'}).fillna(df_type['Type-EOD'])

for col in df_type.columns:
    df_type[col] = df_type[col].str.title()



df_type.head(10)

<ipython-input-170-5ed88d65a432>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_type['stockType_197'] = df_type['stockType_197'].map({'COMMON': 'Common Stock','PREFERRED': 'Preferred Stock'}).fillna(df_type['stockType_197'])
<ipython-input-170-5ed88d65a432>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_type['Type-EOD'] = df_type['Type-EOD'].map({'FUND': 'Mutual Fund'}).fillna(df_type['Type-EOD'])
<ipython-input-170-5ed88d65a432>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_type[col] = df_type[col].str.title()

,Name_197,stockType_197,Name-EOD,Type-EOD,securityType-FIGI,securityType2-FIGI
0,1St Group Ltd,Common Stock,1Stavailable Ltd,Common Stock,Common Stock,Common Stock
1,2U Inc,Common Stock,2U Inc,Common Stock,Common Stock,Common Stock
2,3Dx Industries Inc,Common Stock,3Dx Industries Inc,Common Stock,Common Stock,Common Stock
3,3M Co,NaN,3M Company,Common Stock,Common Stock,Common Stock
4,88 Energy Ltd,Common Stock,88 Energy Ltd,Common Stock,Common Stock,Common Stock
5,A Classified Ad Inc,Common Stock,NaN,NaN,Common Stock,Common Stock
6,A Dot Co Ltd,Common Stock,A Dot Co Ltd,Common Stock,Common Stock,Common Stock
7,A P Moller-Maersk-B-Unsp Adr,Adr,Ap Moeller-Maersk As,Common Stock,Adr,Depositary Receipt
8,A Toute Vitesse-Atv,Common Stock,NaN,NaN,Common Stock,Common Stock
9,A-Mark Precious Metals Inc,Common Stock,Amark Preci,Common Stock,Common Stock,Common Stock

In [171]:
def testMatch(x):
    if x['stockType_197'] == x['Type-EOD'] or (pd.isna(x['stockType_197']) or pd.isna(x['Type-EOD'])):
        if (x['stockType_197'] == x['securityType-FIGI'] or x['stockType_197'] == x['securityType2-FIGI']) or (pd.isna(x['stockType_197']) or pd.isna(x['securityType-FIGI'])):
            return 1
    return -1

df_type['type_match'] = df_type.apply(testMatch, axis=1)
df_type

<ipython-input-171-6df9538a8c50>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_type['type_match'] = df_type.apply(testMatch, axis=1)

,Name_197,stockType_197,Name-EOD,Type-EOD,securityType-FIGI,securityType2-FIGI,type_match
0,1St Group Ltd,Common Stock,1Stavailable Ltd,Common Stock,Common Stock,Common Stock,1
1,2U Inc,Common Stock,2U Inc,Common Stock,Common Stock,Common Stock,1
2,3Dx Industries Inc,Common Stock,3Dx Industries Inc,Common Stock,Common Stock,Common Stock,1
3,3M Co,NaN,3M Company,Common Stock,Common Stock,Common Stock,1
4,88 Energy Ltd,Common Stock,88 Energy Ltd,Common Stock,Common Stock,Common Stock,1
...,...,...,...,...,...,...,...
19731,Zynerba Pharmaceuticals Inc,Common Stock,Zynerba Pharmaceuticals Inc,Common Stock,Common Stock,Common Stock,1
19732,Zynex Inc,Common Stock,Zynex Inc,Common Stock,Common Stock,Common Stock,1
19733,Zynga Inc - Cl A,Common Stock,NaN,NaN,Common Stock,Common Stock,1
19734,Zytronic Plc,Common Stock,Zytronic,Common Stock,Common Stock,Common Stock,1
19735,Zz Capital International Ltd,Common Stock,NaN,NaN,NaN,NaN,1

In [172]:
df_type

,Name_197,stockType_197,Name-EOD,Type-EOD,securityType-FIGI,securityType2-FIGI,type_match
0,1St Group Ltd,Common Stock,1Stavailable Ltd,Common Stock,Common Stock,Common Stock,1
1,2U Inc,Common Stock,2U Inc,Common Stock,Common Stock,Common Stock,1
2,3Dx Industries Inc,Common Stock,3Dx Industries Inc,Common Stock,Common Stock,Common Stock,1
3,3M Co,NaN,3M Company,Common Stock,Common Stock,Common Stock,1
4,88 Energy Ltd,Common Stock,88 Energy Ltd,Common Stock,Common Stock,Common Stock,1
...,...,...,...,...,...,...,...
19731,Zynerba Pharmaceuticals Inc,Common Stock,Zynerba Pharmaceuticals Inc,Common Stock,Common Stock,Common Stock,1
19732,Zynex Inc,Common Stock,Zynex Inc,Common Stock,Common Stock,Common Stock,1
19733,Zynga Inc - Cl A,Common Stock,NaN,NaN,Common Stock,Common Stock,1
19734,Zytronic Plc,Common Stock,Zytronic,Common Stock,Common Stock,Common Stock,1
19735,Zz Capital International Ltd,Common Stock,NaN,NaN,NaN,NaN,1

In [173]:
df_mismatch = df_type[df_type['type_match']==-1]

df_mismatch.loc[(df_mismatch['stockType_197']=='Closed-End Fund') & (df_mismatch['Type-EOD']=='Mutual Fund') 
                & (df_mismatch['securityType-FIGI']=='Closed-End Fund'),'type_match'] = 1

df_mismatch.loc[(df_mismatch['stockType_197']=='ETF') & (df_mismatch['Type-EOD']=='ETF') 
                & (df_mismatch['securityType-FIGI']=='ETP'),'type_match'] = 1


df_mismatch = df_mismatch[df_mismatch['type_match']==-1]

df_mismatch

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/pandas/core/indexing.py:1719: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,Name_197,stockType_197,Name-EOD,Type-EOD,securityType-FIGI,securityType2-FIGI,type_match
7,A P Moller-Maersk-B-Unsp Adr,Adr,Ap Moeller-Maersk As,Common Stock,Adr,Depositary Receipt,-1
16,Aareal Bank Ag-Unspon Adr,Adr,Aareal Bank Ag Adr,Common Stock,Adr,Depositary Receipt,-1
25,Abacus Property Group,Reit,Abacus Property Group,Common Stock,Reit,Reit,-1
44,Aberdeen Asian Income Fund L,Closed-End Fund,Abrdn Asian Income Fund Limited,Common Stock,Closed-End Fund,Mutual Fund,-1
45,Aberdeen Global Income Fund,Closed-End Fund,Aberdeen Global If Inc,Common Stock,Closed-End Fund,Mutual Fund,-1
...,...,...,...,...,...,...,...
19548,Yunji Inc-Adr,Adr,Yunji Inc,Common Stock,Adr,Depositary Receipt,-1
19567,Zai Lab Ltd-Adr,Adr,Zai Lab Ltd,Common Stock,Adr,Depositary Receipt,-1
19582,Zealand Pharma A/S-Adr,Adr,Zealand Pharma A/S Adr,Common Stock,Adr,Depositary Receipt,-1
19621,Zeta Resources Ltd,Closed-End Fund,Zeta Resources Ltd,Common Stock,Closed-End Fund,Mutual Fund,-1
19713,Zto Express Cayman Inc-Adr,Adr,Zto Express (Cayman) Inc,Common Stock,Adr,Depositary Receipt,-1

In [146]:
df_type['stockType_197'].str.title()

0        Common Stock
1        Common Stock
2        Common Stock
3                 NaN
4        Common Stock
             ...
19731    Common Stock
19732    Common Stock
19733    Common Stock
19734    Common Stock
19735    Common Stock
Name: stockType_197, Length: 19736, dtype: object

In [174]:
# Check Manually
df_mismatch.to_csv('./Data/stockType_mismatch.csv')

In [68]:
path = "./Data/stockType_mismatch.csv"

df_mismatch_checked = pd.read_csv(path, index_col=0)  
df_mismatch_checked = df_mismatch_checked[df_mismatch_checked['type_match']==-1]

df_mismatch_checked

,stockType_197,Type-EOD,securityType-FIGI,securityType2-FIGI,type_match
44,Closed-End Fund,Common Stock,Closed-End Fund,Mutual Fund,-1
45,Closed-End Fund,Common Stock,Closed-End Fund,Mutual Fund,-1
55,Closed-End Fund,Common Stock,Closed-End Fund,Mutual Fund,-1
56,Closed-End Fund,Common Stock,Closed-End Fund,Mutual Fund,-1
57,Closed-End Fund,Common Stock,Closed-End Fund,Mutual Fund,-1
...,...,...,...,...,...
19200,Common Stock,Preferred Stock,PUBLIC,Preferred Stock,-1
19264,Closed-End Fund,Common Stock,Closed-End Fund,Mutual Fund,-1
19273,Common Stock,FUND,Common Stock,Common Stock,-1
19283,Closed-End Fund,Common Stock,Closed-End Fund,Mutual Fund,-1
19621,Closed-End Fund,Common Stock,Closed-End Fund,Mutual Fund,-1

In [79]:
df_type[df_type['stockType_197']=='ADR']

Empty DataFrame
Columns: [stockType_197, Type-EOD, securityType-FIGI, securityType2-FIGI, type_match]
Index: []

In [69]:
df_mismatch_checked.index

Int64Index([   44,    45,    55,    56,    57,   140,   501,   502,   608,
              670,
            ...
            18826, 18912, 19015, 19115, 19116, 19200, 19264, 19273, 19283,
            19621],
           dtype='int64', length=300)

In [75]:
df_ck.loc[df_mismatch_checked.index,'stockstockType_197_Num'] = -1

df_ck[df_ck['stockstockType_197_Num']==-1]

,Name_197,Exchange_197,Country_197,Currency_197,stockType_197,Code-EOD,Country-EOD,Currency-EOD,Exchange-EOD,ISIN,...,figi,compositeFIGI,shareClassFIGI,exchCode-FIGI,marketSector-FIGI,securityDescription-FIGI,securityType-FIGI,securityType2-FIGI,Ranking,stockstockType_197_Num
44,ABERDEEN ASIAN INCOME FUND L,LSE,United Kingdom,GBP,CLOSED-END FUND,AAIF,UK,GBX,LSE,GB00B0P6J834,...,BBG000L7F2B7,BBG000L7F156,BBG001SMD307,LN,Equity,AAIF,Closed-End Fund,Mutual Fund,6,-1
45,ABERDEEN GLOBAL INCOME FUND,AMEX,United States of America,USD,CLOSED-END FUND,FCO,USA,USD,US,US0030131090,...,BBG000BB41S5,BBG000BB41S5,BBG001S5R2X5,US,Equity,FCO,Closed-End Fund,Mutual Fund,6,-1
55,ABERFORTH SMALLER COS-ORD,LSE,United Kingdom,GBP,CLOSED-END FUND,ASL,UK,GBX,LSE,GB0000066554,...,BBG000BC7GW2,BBG000BC7G25,BBG001S6P8D4,LN,Equity,ASL,Closed-End Fund,Mutual Fund,5,-1
56,ABERFORTH SPLIT LEVEL INCOME,LSE,United Kingdom,GBP,CLOSED-END FUND,ASIZ,UK,GBX,LSE,GB00BYPBD519,...,BBG00GX1MT89,BBG00GX1MT70,BBG00GX1MTC4,LN,Equity,ASIZ,Closed-End Fund,Mutual Fund,5,-1
57,ABERFORTH SPLIT LEVEL INCOME,LSE,United Kingdom,GBP,CLOSED-END FUND,ASIZ,UK,GBX,LSE,GB00BYPBD519,...,BBG00GX1MT89,BBG00GX1MT70,BBG00GX1MTC4,LN,Equity,ASIZ,Closed-End Fund,Mutual Fund,5,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19200,WINTRUST FINANCIAL CORP,NASDAQ,United States of America,USD,COMMON,WTFCM,USA,USD,US,US97650W4050,...,BBG009GZVL86,NaN,NaN,NASDAQ/NGS,Pfd,WTFC 6 1/2 PERP,PUBLIC,Preferred Stock,5,-1
19264,WORLD FINANCIAL SPLIT CORP-A,TSE,Canada,CAD,CLOSED-END FUND,WFS,Canada,CAD,TO,CA98146P3016,...,BBG000L9D476,BBG000L9D476,BBG001SJY2P6,CN,Equity,WFS,Closed-End Fund,Mutual Fund,5,-1
19273,WORLD POKER FUND HOLDINGS IN,PINK,United States of America,USD,COMMON,WPFH,USA,USD,US,US98160D1019,...,BBG000PR5X04,BBG000PR5X04,BBG001SR9W89,US,Equity,WPFH,Common Stock,Common Stock,6,-1
19283,WORLDWIDE HEALTHCARE TRUST P,LSE,United Kingdom,GBP,CLOSED-END FUND,WWH,UK,GBX,LSE,GB0003385308,...,BBG000BLZDM9,BBG000BLZCN0,BBG001S6MFM1,LN,Equity,WWH,Closed-End Fund,Mutual Fund,6,-1
19621,ZETA RESOURCES LTD,ASX,Australia,AUD,CLOSED-END FUND,ZER,Australia,AUD,AU,BMG9895P1068,...,BBG00430LLD3,BBG00430LLD3,BBG00430LM78,AU,Equity,ZER,Closed-End Fund,Mutual Fund,5,-1

In [77]:
df_ck[['stockType_197', 'stockstockType_197_Num']]

      stockType_197  stockstockType_197_Num
0            COMMON                       5
1            COMMON                       5
2            COMMON                       5
3               NaN                      34
4            COMMON                       5
...             ...                     ...
19731        COMMON                       5
19732        COMMON                       5
19733        COMMON                       5
19734        COMMON                       5
19735        COMMON                       5

[19736 rows x 2 columns]

In [76]:
df_ck['stockstockType_197_Num'].value_counts().to_frame()

     stockstockType_197_Num
 5                    17321
 34                     703
 25                     337
-1                      300
 0                      263
 4                      201
 9                      192
 18                      71
 22                      70
 32                      41
 14                      38
 3                       38
 27                      22
 10                      19
 29                      17
 30                      15
 16                      12
 11                       9
 21                       8
 17                       7
 12                       6
 6                        6
 31                       5
 7                        5
 20                       5
 24                       4
 28                       4
 13                       3
 19                       3
 2                        3
 8                        2
 23                       2
 26                       1
 33                       1
 1                        1
 15                       1