In [43]:
import numpy as np
import pandas as pd

In [44]:
path1 = "./Data/full stock list.csv"

df_inv = pd.read_csv(path1)  
df_inv = df_inv.rename(columns={"Ticker": "Ticker-Inv"})

df_inv.head()

,Name,Ticker-Inv,Exchange,Type,Market,ISIN,CUSIP
0,Advanced Micro Devices Inc,AMD,NASDAQ,Equity,United States,US0079031078,007903107
1,Apple Inc,AAPL,NASDAQ,Equity,United States,US0378331005,037833100
2,Amazon.com Inc,AMZN,NASDAQ,Equity,United States,US0231351067,023135106
3,NVIDIA Corporation,NVDA,NASDAQ,Equity,United States,US67066G1040,67066G104
4,Ford Motor Company,F,NYSE,Equity,United States,US3453708600,345370860

In [45]:
path = "./Data/ISIN_from_IB.csv"

df_IB = pd.read_csv(path)  
df_IB

,Ticker,Name-IB,Country-IB,Exchange-IB,Currency-IB,ISIN-19.7,ISIN-IB
0,1ST,1ST GROUP LTD,Australia,ASX,AUD,NaN,AU0000001ST0
1,TWOU,2U INC,United States of America,NASDAQ,USD,NaN,NaN
2,DDDX,3DX INDUSTRIES INC,United States of America,PINK,USD,NaN,NaN
3,MMM,3M CO,Mexico,US Exchange,NaN,NaN,NaN
4,88E,88 ENERGY LTD,United Kingdom,LSE,GBP,AU00000088E2,AU00000088E2
...,...,...,...,...,...,...,...
19731,ZYNE,ZYNERBA PHARMACEUTICALS INC,United States of America,NASDAQ,USD,NaN,NaN
19732,ZYXI,ZYNEX INC,United States of America,NASDAQ,USD,NaN,NaN
19733,ZNGA,ZYNGA INC - CL A,Switzerland,NASDAQ,USD,NaN,NaN
19734,ZYT,ZYTRONIC PLC,United Kingdom,LSE,GBP,NaN,GB0006971013
19735,8295,ZZ CAPITAL INTERNATIONAL LTD,Hong Kong,SEHK,HKD,KYG9895T1085,KYG989MR1033

In [46]:
df_IB = df_IB.assign(**{'ISIN-IB': df_IB['ISIN-IB'].fillna(df_IB['ISIN-19.7'])})
df_IB.drop(['ISIN-19.7'], inplace=True, axis=1)
df_IB.dropna(subset=['ISIN-IB'],inplace=True)
df_IB

,Ticker,Name-IB,Country-IB,Exchange-IB,Currency-IB,ISIN-IB
0,1ST,1ST GROUP LTD,Australia,ASX,AUD,AU0000001ST0
4,88E,88 ENERGY LTD,United Kingdom,LSE,GBP,AU00000088E2
6,7063,A DOT CO LTD,Japan,TSEJ,JPY,JP3160590000
8,MLATV,A TOUTE VITESSE-ATV,France,SBF,EUR,FR0010050773
11,5GZ,AA GROUP HOLDINGS LTD,Singapore,SGX,SGD,SG1S12926576
...,...,...,...,...,...,...
19727,ZWACK,ZWACK UNICUM RT,Hungary,BUX,HUF,HU0000074844
19728,ZYB,ZYBER HOLDINGS LTD,Australia,ASX,AUD,AU000000ZYB8
19729,ZYDUSWELL,ZYDUS WELLNESS LTD,India,NSE,INR,INE768C01010
19734,ZYT,ZYTRONIC PLC,United Kingdom,LSE,GBP,GB0006971013
19735,8295,ZZ CAPITAL INTERNATIONAL LTD,Hong Kong,SEHK,HKD,KYG989MR1033

In [47]:
len(df_IB['ISIN-IB'].unique())

7641

In [48]:
df_IB = df_IB.rename(columns={"ISIN-IB": "ISIN", "Ticker": "Ticker-IB"})
df_IB

,Ticker-IB,Name-IB,Country-IB,Exchange-IB,Currency-IB,ISIN
0,1ST,1ST GROUP LTD,Australia,ASX,AUD,AU0000001ST0
4,88E,88 ENERGY LTD,United Kingdom,LSE,GBP,AU00000088E2
6,7063,A DOT CO LTD,Japan,TSEJ,JPY,JP3160590000
8,MLATV,A TOUTE VITESSE-ATV,France,SBF,EUR,FR0010050773
11,5GZ,AA GROUP HOLDINGS LTD,Singapore,SGX,SGD,SG1S12926576
...,...,...,...,...,...,...
19727,ZWACK,ZWACK UNICUM RT,Hungary,BUX,HUF,HU0000074844
19728,ZYB,ZYBER HOLDINGS LTD,Australia,ASX,AUD,AU000000ZYB8
19729,ZYDUSWELL,ZYDUS WELLNESS LTD,India,NSE,INR,INE768C01010
19734,ZYT,ZYTRONIC PLC,United Kingdom,LSE,GBP,GB0006971013
19735,8295,ZZ CAPITAL INTERNATIONAL LTD,Hong Kong,SEHK,HKD,KYG989MR1033

In [49]:
df = pd.merge(df_IB, df_inv, how='outer', on='ISIN')
df

,Ticker-IB,Name-IB,Country-IB,Exchange-IB,Currency-IB,ISIN,Name,Ticker-Inv,Exchange,Type,Market,CUSIP
0,1ST,1ST GROUP LTD,Australia,ASX,AUD,AU0000001ST0,NaN,NaN,NaN,NaN,NaN,NaN
1,88E,88 ENERGY LTD,United Kingdom,LSE,GBP,AU00000088E2,NaN,NaN,NaN,NaN,NaN,NaN
2,7063,A DOT CO LTD,Japan,TSEJ,JPY,JP3160590000,NaN,NaN,NaN,NaN,NaN,NaN
3,MLATV,A TOUTE VITESSE-ATV,France,SBF,EUR,FR0010050773,NaN,NaN,NaN,NaN,NaN,NaN
4,5GZ,AA GROUP HOLDINGS LTD,Singapore,SGX,SGD,SG1S12926576,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
8581,NaN,NaN,NaN,NaN,NaN,US3061372096,FalconStor Software Inc,FALC,OTC Markets,Equity,United States,306137209
8582,NaN,NaN,NaN,NaN,NaN,US3186871006,First Bancshares Inc,FBSI,OTC Markets,Equity,United States,318687100
8583,NaN,NaN,NaN,NaN,NaN,US30243C1071,FFD Financial Corp,FFDF,OTC Markets,Equity,United States,30243C107
8584,NaN,NaN,NaN,NaN,NaN,MHY264962439,FreeSeas Inc,FREEF,OTC Markets,Equity,United States,Y26496235
8585,NaN,NaN,NaN,NaN,NaN,US37959R1032,Global Indemnity PLC,GBLI,NYSE,Equity,United States,37959R103

In [50]:
df = df.rename(columns={"Name": "Name-Inv", "Exchange": "Exchange-Inv", "Type": "Type-Inv", "Market": "Market-Inv", "CUSIP": "CUSIP-Inv"})
df

,Ticker-IB,Name-IB,Country-IB,Exchange-IB,Currency-IB,ISIN,Name-Inv,Ticker-Inv,Exchange-Inv,Type-Inv,Market-Inv,CUSIP-Inv
0,1ST,1ST GROUP LTD,Australia,ASX,AUD,AU0000001ST0,NaN,NaN,NaN,NaN,NaN,NaN
1,88E,88 ENERGY LTD,United Kingdom,LSE,GBP,AU00000088E2,NaN,NaN,NaN,NaN,NaN,NaN
2,7063,A DOT CO LTD,Japan,TSEJ,JPY,JP3160590000,NaN,NaN,NaN,NaN,NaN,NaN
3,MLATV,A TOUTE VITESSE-ATV,France,SBF,EUR,FR0010050773,NaN,NaN,NaN,NaN,NaN,NaN
4,5GZ,AA GROUP HOLDINGS LTD,Singapore,SGX,SGD,SG1S12926576,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
8581,NaN,NaN,NaN,NaN,NaN,US3061372096,FalconStor Software Inc,FALC,OTC Markets,Equity,United States,306137209
8582,NaN,NaN,NaN,NaN,NaN,US3186871006,First Bancshares Inc,FBSI,OTC Markets,Equity,United States,318687100
8583,NaN,NaN,NaN,NaN,NaN,US30243C1071,FFD Financial Corp,FFDF,OTC Markets,Equity,United States,30243C107
8584,NaN,NaN,NaN,NaN,NaN,MHY264962439,FreeSeas Inc,FREEF,OTC Markets,Equity,United States,Y26496235
8585,NaN,NaN,NaN,NaN,NaN,US37959R1032,Global Indemnity PLC,GBLI,NYSE,Equity,United States,37959R103

# Abhir

In [51]:
path = "./Data/ibdata_Abhir.csv"

df_Ab = pd.read_csv(path, index_col=0)  
df_Ab

,IB-industry,IB-longName,IB-marketName,IB-ISIN,IB-Symbol
0,Communications,1ST GROUP LTD,1ST,AU0000001ST0,1ST
1,"Consumer, Non-cyclical",2U INC,NMS,US90214J1016,TWOU
2,Industrial,3DX INDUSTRIES INC,DDDX,US88556A1007,DDDX
3,"Consumer, Non-cyclical",MARLEY SPOON AG-CDI,MMM,AU0000013070,MMM
4,Industrial,3M CO,MMM,US88579Y1010,MMM
...,...,...,...,...,...
22735,"Consumer, Non-cyclical",ZYNERBA PHARMACEUTICALS INC,NMS,US98986X1090,ZYNE
22736,"Consumer, Non-cyclical",ZYNEX INC,NMS,US98986M1036,ZYXI
22737,Technology,ZYNGA INC - CL A,ZNGA,US98986T1088,ZNGA
22738,Industrial,ZYTRONIC PLC,ASQ1,GB0006971013,ZYT
22739,Financial,KINGWISOFT TECHNOLOGY GROUP CO,8295,KYG989MR1033,8295

In [52]:
df_Ab = df_Ab.rename(columns={"IB-industry": "industry-IB", "IB-longName": "longName-IB", "IB-marketName": "marketName-IB", "IB-ISIN": "ISIN", "IB-Symbol": "Symbol-IB"})
df_Ab

,industry-IB,longName-IB,marketName-IB,ISIN,Symbol-IB
0,Communications,1ST GROUP LTD,1ST,AU0000001ST0,1ST
1,"Consumer, Non-cyclical",2U INC,NMS,US90214J1016,TWOU
2,Industrial,3DX INDUSTRIES INC,DDDX,US88556A1007,DDDX
3,"Consumer, Non-cyclical",MARLEY SPOON AG-CDI,MMM,AU0000013070,MMM
4,Industrial,3M CO,MMM,US88579Y1010,MMM
...,...,...,...,...,...
22735,"Consumer, Non-cyclical",ZYNERBA PHARMACEUTICALS INC,NMS,US98986X1090,ZYNE
22736,"Consumer, Non-cyclical",ZYNEX INC,NMS,US98986M1036,ZYXI
22737,Technology,ZYNGA INC - CL A,ZNGA,US98986T1088,ZNGA
22738,Industrial,ZYTRONIC PLC,ASQ1,GB0006971013,ZYT
22739,Financial,KINGWISOFT TECHNOLOGY GROUP CO,8295,KYG989MR1033,8295

In [53]:
data = pd.merge(df_Ab, df, how='outer', on='ISIN')
data

,industry-IB,longName-IB,marketName-IB,ISIN,Symbol-IB,Ticker-IB,Name-IB,Country-IB,Exchange-IB,Currency-IB,Name-Inv,Ticker-Inv,Exchange-Inv,Type-Inv,Market-Inv,CUSIP-Inv
0,Communications,1ST GROUP LTD,1ST,AU0000001ST0,1ST,1ST,1ST GROUP LTD,Australia,ASX,AUD,NaN,NaN,NaN,NaN,NaN,NaN
1,"Consumer, Non-cyclical",2U INC,NMS,US90214J1016,TWOU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Industrial,3DX INDUSTRIES INC,DDDX,US88556A1007,DDDX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Consumer, Non-cyclical",MARLEY SPOON AG-CDI,MMM,AU0000013070,MMM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Industrial,3M CO,MMM,US88579Y1010,MMM,NaN,NaN,NaN,NaN,NaN,3M Company,MMM,NYSE,Equity,United States,88579Y101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23207,NaN,NaN,NaN,US28140M1036,NaN,NaN,NaN,NaN,NaN,NaN,Education Management Corp,EDMCQ,OTC Markets,Equity,United States,28140M103
23208,NaN,NaN,NaN,VGG323351046,NaN,NaN,NaN,NaN,NaN,NaN,Exceed Company Ltd,EDSFF,OTC Markets,Equity,United States,G32335104
23209,NaN,NaN,NaN,US3061372096,NaN,NaN,NaN,NaN,NaN,NaN,FalconStor Software Inc,FALC,OTC Markets,Equity,United States,306137209
23210,NaN,NaN,NaN,US3186871006,NaN,NaN,NaN,NaN,NaN,NaN,First Bancshares Inc,FBSI,OTC Markets,Equity,United States,318687100
23211,NaN,NaN,NaN,US30243C1071,NaN,NaN,NaN,NaN,NaN,NaN,FFD Financial Corp,FFDF,OTC Markets,Equity,United States,30243C107

In [54]:
data = data[data['ISIN'].notna()]
data

,industry-IB,longName-IB,marketName-IB,ISIN,Symbol-IB,Ticker-IB,Name-IB,Country-IB,Exchange-IB,Currency-IB,Name-Inv,Ticker-Inv,Exchange-Inv,Type-Inv,Market-Inv,CUSIP-Inv
0,Communications,1ST GROUP LTD,1ST,AU0000001ST0,1ST,1ST,1ST GROUP LTD,Australia,ASX,AUD,NaN,NaN,NaN,NaN,NaN,NaN
1,"Consumer, Non-cyclical",2U INC,NMS,US90214J1016,TWOU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Industrial,3DX INDUSTRIES INC,DDDX,US88556A1007,DDDX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Consumer, Non-cyclical",MARLEY SPOON AG-CDI,MMM,AU0000013070,MMM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Industrial,3M CO,MMM,US88579Y1010,MMM,NaN,NaN,NaN,NaN,NaN,3M Company,MMM,NYSE,Equity,United States,88579Y101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23207,NaN,NaN,NaN,US28140M1036,NaN,NaN,NaN,NaN,NaN,NaN,Education Management Corp,EDMCQ,OTC Markets,Equity,United States,28140M103
23208,NaN,NaN,NaN,VGG323351046,NaN,NaN,NaN,NaN,NaN,NaN,Exceed Company Ltd,EDSFF,OTC Markets,Equity,United States,G32335104
23209,NaN,NaN,NaN,US3061372096,NaN,NaN,NaN,NaN,NaN,NaN,FalconStor Software Inc,FALC,OTC Markets,Equity,United States,306137209
23210,NaN,NaN,NaN,US3186871006,NaN,NaN,NaN,NaN,NaN,NaN,First Bancshares Inc,FBSI,OTC Markets,Equity,United States,318687100
23211,NaN,NaN,NaN,US30243C1071,NaN,NaN,NaN,NaN,NaN,NaN,FFD Financial Corp,FFDF,OTC Markets,Equity,United States,30243C107

# Arjun

In [55]:
path = "./Data/final_investpy.csv"

df_Aj = pd.read_csv(path, index_col=0)  
df_Aj

,country,name,full_name,isin,currency,symbol,asset_class
0,argentina,Tenaris,Tenaris,LU0156801721,ARS,TS,equity
1,argentina,PETROBRAS ON,Petroleo Brasileiro - Petrobras,BRPETRACNOR9,ARS,APBR,equity
2,argentina,Grupo Financiero Galicia,Grupo Financiero Galicia B,ARP495251018,ARS,GGAL,equity
3,argentina,Ternium Argentina,Ternium Argentina SA,ARSIDE010029,ARS,TXAR,equity
4,argentina,Pampa Energia,Pampa Energia SA,ARP432631215,ARS,PAMP,equity
...,...,...,...,...,...,...,...
51350,united states,Xtrackers Low Beta High Yield Bond,Xtrackers Low Beta High Yield Bond,US2330512672,USD,HYDW,bond
51351,united states,Xtrackers High Beta High Yield Bond,Xtrackers High Beta High Yield Bond,US2330512599,USD,HYUP,bond
51352,united states,Xtrackers Short Duration High Yield,Xtrackers Short Duration High Yield,US2330512839,USD,SHYL,bond
51353,vietnam,VFMVN30,VFMVN30,VN0E1VFVN306,VND,E1VFVN30,equity
51354,vietnam,SSIAM VNX50 ETF,SSIAM VNX50 ETF,VN0FUESSV504,VND,FUESSV50,equity

In [56]:
df_Aj = df_Aj.rename(columns={"country": "country-Inv", "name": "name-Inv", "full_name": "full_name-Inv", "isin": "ISIN", "currency": "currency-Inv", "symbol": "symbol-Inv", "asset_class": "asset_class-Inv"})
df_Aj

,country-Inv,name-Inv,full_name-Inv,ISIN,currency-Inv,symbol-Inv,asset_class-Inv
0,argentina,Tenaris,Tenaris,LU0156801721,ARS,TS,equity
1,argentina,PETROBRAS ON,Petroleo Brasileiro - Petrobras,BRPETRACNOR9,ARS,APBR,equity
2,argentina,Grupo Financiero Galicia,Grupo Financiero Galicia B,ARP495251018,ARS,GGAL,equity
3,argentina,Ternium Argentina,Ternium Argentina SA,ARSIDE010029,ARS,TXAR,equity
4,argentina,Pampa Energia,Pampa Energia SA,ARP432631215,ARS,PAMP,equity
...,...,...,...,...,...,...,...
51350,united states,Xtrackers Low Beta High Yield Bond,Xtrackers Low Beta High Yield Bond,US2330512672,USD,HYDW,bond
51351,united states,Xtrackers High Beta High Yield Bond,Xtrackers High Beta High Yield Bond,US2330512599,USD,HYUP,bond
51352,united states,Xtrackers Short Duration High Yield,Xtrackers Short Duration High Yield,US2330512839,USD,SHYL,bond
51353,vietnam,VFMVN30,VFMVN30,VN0E1VFVN306,VND,E1VFVN30,equity
51354,vietnam,SSIAM VNX50 ETF,SSIAM VNX50 ETF,VN0FUESSV504,VND,FUESSV50,equity

In [57]:
data = pd.merge(df_Aj, data, how='outer', on='ISIN')
data

,country-Inv,name-Inv,full_name-Inv,ISIN,currency-Inv,symbol-Inv,asset_class-Inv,industry-IB,longName-IB,marketName-IB,...,Name-IB,Country-IB,Exchange-IB,Currency-IB,Name-Inv,Ticker-Inv,Exchange-Inv,Type-Inv,Market-Inv,CUSIP-Inv
0,argentina,Tenaris,Tenaris,LU0156801721,ARS,TS,equity,Industrial,TENARIS SA,TEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,mexico,Tenaris,Tenaris S.A.,LU0156801721,MXN,TS,equity,Industrial,TENARIS SA,TEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,italy,Tenaris,Tenaris SA,LU0156801721,EUR,TENR,equity,Industrial,TENARIS SA,TEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,argentina,PETROBRAS ON,Petroleo Brasileiro - Petrobras,BRPETRACNOR9,ARS,APBR,equity,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,brazil,PETROBRAS ON,Petroleo Brasileiro SA,BRPETRACNOR9,BRL,PETR3,equity,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62723,NaN,NaN,NaN,US28140M1036,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Education Management Corp,EDMCQ,OTC Markets,Equity,United States,28140M103
62724,NaN,NaN,NaN,VGG323351046,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Exceed Company Ltd,EDSFF,OTC Markets,Equity,United States,G32335104
62725,NaN,NaN,NaN,US3061372096,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,FalconStor Software Inc,FALC,OTC Markets,Equity,United States,306137209
62726,NaN,NaN,NaN,US3186871006,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,First Bancshares Inc,FBSI,OTC Markets,Equity,United States,318687100
62727,NaN,NaN,NaN,US30243C1071,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,FFD Financial Corp,FFDF,OTC Markets,Equity,United States,30243C107

In [58]:
data = data[data['ISIN'].notna()]
data = data.drop_duplicates(['ISIN'])
data

,country-Inv,name-Inv,full_name-Inv,ISIN,currency-Inv,symbol-Inv,asset_class-Inv,industry-IB,longName-IB,marketName-IB,...,Name-IB,Country-IB,Exchange-IB,Currency-IB,Name-Inv,Ticker-Inv,Exchange-Inv,Type-Inv,Market-Inv,CUSIP-Inv
0,argentina,Tenaris,Tenaris,LU0156801721,ARS,TS,equity,Industrial,TENARIS SA,TEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,argentina,PETROBRAS ON,Petroleo Brasileiro - Petrobras,BRPETRACNOR9,ARS,APBR,equity,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,argentina,Grupo Financiero Galicia,Grupo Financiero Galicia B,ARP495251018,ARS,GGAL,equity,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,argentina,Ternium Argentina,Ternium Argentina SA,ARSIDE010029,ARS,TXAR,equity,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,argentina,Pampa Energia,Pampa Energia SA,ARP432631215,ARS,PAMP,equity,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62723,NaN,NaN,NaN,US28140M1036,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Education Management Corp,EDMCQ,OTC Markets,Equity,United States,28140M103
62724,NaN,NaN,NaN,VGG323351046,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Exceed Company Ltd,EDSFF,OTC Markets,Equity,United States,G32335104
62725,NaN,NaN,NaN,US3061372096,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,FalconStor Software Inc,FALC,OTC Markets,Equity,United States,306137209
62726,NaN,NaN,NaN,US3186871006,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,First Bancshares Inc,FBSI,OTC Markets,Equity,United States,318687100
62727,NaN,NaN,NaN,US30243C1071,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,FFD Financial Corp,FFDF,OTC Markets,Equity,United States,30243C107

In [59]:
data.to_csv('./Data/Investing_IB_197.csv', index=False)