In [50]:
import investpy
import numpy as np
import pandas as pd
from fuzzywuzzy import fuzz

In [166]:
path = "./Data/final_investpy.csv"

df_inv_all = pd.read_csv(path, index_col=0)  
# df_inv_all = investpy.stocks.get_stocks(country=None)
df_inv_all

,country,name,full_name,isin,currency,symbol,asset_class
0,argentina,Tenaris,Tenaris,LU0156801721,ARS,TS,equity
1,argentina,PETROBRAS ON,Petroleo Brasileiro - Petrobras,BRPETRACNOR9,ARS,APBR,equity
2,argentina,Grupo Financiero Galicia,Grupo Financiero Galicia B,ARP495251018,ARS,GGAL,equity
3,argentina,Ternium Argentina,Ternium Argentina SA,ARSIDE010029,ARS,TXAR,equity
4,argentina,Pampa Energia,Pampa Energia SA,ARP432631215,ARS,PAMP,equity
...,...,...,...,...,...,...,...
51350,united states,Xtrackers Low Beta High Yield Bond,Xtrackers Low Beta High Yield Bond,US2330512672,USD,HYDW,bond
51351,united states,Xtrackers High Beta High Yield Bond,Xtrackers High Beta High Yield Bond,US2330512599,USD,HYUP,bond
51352,united states,Xtrackers Short Duration High Yield,Xtrackers Short Duration High Yield,US2330512839,USD,SHYL,bond
51353,vietnam,VFMVN30,VFMVN30,VN0E1VFVN306,VND,E1VFVN30,equity
51354,vietnam,SSIAM VNX50 ETF,SSIAM VNX50 ETF,VN0FUESSV504,VND,FUESSV50,equity

In [167]:
path = "./Data/LIst of 19.7 Stocks with FIGI if available - By Evelyn.xlsx"

df_stockList = pd.read_excel(path, index_col=0)
df_stockList

,symbol_x,longName,Exchange,Country,country,name,full_name,isin,currency_x,currency_y,...,Country_Final,Code,figi,compositeFIGI,shareClassFIGI,exchCode,marketSector,securityDescription,securityType,securityType2
0,1ST,1ST GROUP LTD,ASX,Australia,australia,NaN,NaN,NaN,NaN,AUD,...,Australia,1.0,BBG008HNLRF4,BBG008HNLRF4,BBG008HNLRG3,AU,Equity,1ST,Common Stock,Common Stock
1,TWOU,2U INC,NASDAQ,United States of America,united states of america,NaN,NaN,NaN,NaN,USD,...,United States of America,1.0,BBG001KS9450,BBG001KS9450,BBG001V0RR30,US,Equity,TWOU,Common Stock,Common Stock
2,DDDX,3DX INDUSTRIES INC,PINK,United States of America,united states of america,NaN,NaN,NaN,NaN,USD,...,United States of America,1.0,BBG000C129N6,BBG000C129N6,BBG001STRH79,US,Equity,DDDX,Common Stock,Common Stock
3,MMM,3M CO,US Exchange,Mexico,mexico,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,88E,88 ENERGY LTD,LSE,United Kingdom,united kingdom,88 Energy Ltd,88 Energy Ltd,AU00000088E2,GBP,GBP,...,United Kingdom,1.0,BBG000C4PMQ3,BBG000C4PMQ3,BBG001SCV1F7,AU,Equity,88E,Common Stock,Common Stock
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19731,ZYNE,ZYNERBA PHARMACEUTICALS INC,NASDAQ,United States of America,united states of america,NaN,NaN,NaN,NaN,USD,...,United States of America,1.0,BBG007BBS8B7,BBG007BBS8B7,BBG007BBS8C6,US,Equity,ZYNE,Common Stock,Common Stock
19732,ZYXI,ZYNEX INC,NASDAQ,United States of America,united states of america,NaN,NaN,NaN,NaN,USD,...,United States of America,1.0,BBG000BJBXZ2,BBG000BJBXZ2,BBG001S7T7V0,US,Equity,ZYXI,Common Stock,Common Stock
19733,ZNGA,ZYNGA INC - CL A,NASDAQ,Switzerland,switzerland,NaN,NaN,NaN,NaN,USD,...,United States of America,1.0,BBG000VD6768,BBG000VD6768,BBG001T24RN2,US,Equity,ZNGA,Common Stock,Common Stock
19734,ZYT,ZYTRONIC PLC,LSE,United Kingdom,united kingdom,NaN,NaN,NaN,NaN,GBP,...,United Kingdom,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19735,8295,ZZ CAPITAL INTERNATIONAL LTD,SEHK,Hong Kong,hong kong,ZZ Capital International Ltd,ZZ Capital International Ltd,KYG9895T1085,HKD,HKD,...,Hong Kong,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [168]:
df_inv = df_inv_all[['full_name', 'name', 'symbol' ]]
df_inv = df_inv.drop_duplicates()
df_inv

,full_name,name,symbol
0,Tenaris,Tenaris,TS
1,Petroleo Brasileiro - Petrobras,PETROBRAS ON,APBR
2,Grupo Financiero Galicia B,Grupo Financiero Galicia,GGAL
3,Ternium Argentina SA,Ternium Argentina,TXAR
4,Pampa Energia SA,Pampa Energia,PAMP
...,...,...,...
51350,Xtrackers Low Beta High Yield Bond,Xtrackers Low Beta High Yield Bond,HYDW
51351,Xtrackers High Beta High Yield Bond,Xtrackers High Beta High Yield Bond,HYUP
51352,Xtrackers Short Duration High Yield,Xtrackers Short Duration High Yield,SHYL
51353,VFMVN30,VFMVN30,E1VFVN30
51354,SSIAM VNX50 ETF,SSIAM VNX50 ETF,FUESSV50

In [169]:
df_197 = df_stockList[['symbol_x', 'longName']]
df_197

      symbol_x                      longName
0          1ST                 1ST GROUP LTD
1         TWOU                        2U INC
2         DDDX            3DX INDUSTRIES INC
3          MMM                         3M CO
4          88E                 88 ENERGY LTD
...        ...                           ...
19731     ZYNE   ZYNERBA PHARMACEUTICALS INC
19732     ZYXI                     ZYNEX INC
19733     ZNGA              ZYNGA INC - CL A
19734      ZYT                  ZYTRONIC PLC
19735     8295  ZZ CAPITAL INTERNATIONAL LTD

[19736 rows x 2 columns]

## Delete 10 most common words in company name

In [130]:
# get 30 most common words (which can not be used in name matching)
from collections import Counter

all_names = pd.concat([df_197['longName'], df_inv['full_name']])
all_names = pd.concat([all_names, df_inv['name']])
names_freq = Counter()
for name in all_names:
    names_freq.update(str(name).split(" "))
key_words = [word for (word,_) in names_freq.most_common(10)]
print(key_words)

['', 'INC', 'LTD', 'rp', 'CORP', 'B', 'GROUP', 'CO', 'P', 'HOLDINGS']

In [131]:
# delete the 30 most common words in company names
for key in key_words:
    df_197['longName'] = df_197['longName'].str.replace(key, '').copy()
    df_inv['full_name'] = df_inv['full_name'].str.replace(key, '').copy()
    df_inv['name'] = df_inv['name'].str.replace(key, '').copy()

df_197

<ipython-input-131-4b95472cc1b9>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_197['longName'] = df_197['longName'].str.replace(key, '').copy()

      symbol_x                  longName
0          1ST                     1ST
1         TWOU                       2U
2         DDDX           3DX INDUSTRIES
3          MMM                       3M
4          88E                88 ENERGY
...        ...                       ...
19731     ZYNE    ZYNERA HARMACEUTICALS
19732     ZYXI                    ZYNEX
19733     ZNGA             ZYNGA  - CL A
19734      ZYT               ZYTRONIC LC
19735     8295  ZZ CAITAL INTERNATIONAL

[19724 rows x 2 columns]

## Matching by symbol and company name

In [142]:
match = []
allD = []

for index, row in df_197.iterrows():
    
    if row['symbol_x'] in df_inv['symbol'].values :
        df_sym = df_inv[df_inv['symbol'] == row['symbol_x']].copy()
        for index2, row2 in df_sym.iterrows():
            # calculate nlp scores
            fuzz_socre1 = fuzz.token_sort_ratio(row['longName'],row2['full_name'])
            fuzz_socre2 = fuzz.token_sort_ratio(row['longName'],row2['name'])
            
            # append to allD
            row2['Name_197'] = row['longName']
            row2['fuzz_socre1'] = fuzz_socre1
            row2['fuzz_socre2'] = fuzz_socre2
            allD.append(row2)
            
            # get matched result
            if fuzz_socre1>90 or fuzz_socre2>90:
                match.append(row2)

    if index % (len(df_197)//10) == 0:
        print("progress: %.2f" % (100*index/len(df_197)) + "%")

progress: 0.00%
progress: 10.00%
progress: 20.00%
progress: 29.99%
progress: 39.99%
progress: 49.99%
progress: 59.99%
progress: 69.99%
progress: 79.98%
progress: 89.98%
progress: 99.98%

In [143]:
df_match = pd.DataFrame(match)
df_match

,full_name,name,symbol,Name_197,fuzz_socre1,fuzz_socre2
6758,2U Inc,2U Inc,TWOU,2U INC,100,100
8013,3M Co,3M,MMM,3M CO,100,57
16214,88 Energy Ltd,88 Energy,88E,88 ENERGY LTD,100,82
28381,A Dot Co Ltd,A Dot,7063,A DOT CO LTD,100,59
21814,AAC Technologies Holdings Inc,AAC Technologies,2018,AAC TECHNOLOGIES HOLDINGS IN,98,73
...,...,...,...,...,...,...
6993,Zumiez Inc,Zumiez,ZUMZ,ZUMIEZ INC,100,75
14754,Zurich Insurance Group AG,Zurich Insurance Group,ZURN,ZURICH INSURANCE GROUP AG,100,94
28279,ZUU Co Ltd,ZUU,4387,ZUU CO LTD,100,46
17679,Zyber Holdings Ltd,Zyber Holdings,ZYB,ZYBER HOLDINGS LTD,100,88
22375,ZZ Capital International Ltd,ZZ Capital Intl,8295,ZZ CAPITAL INTERNATIONAL LTD,100,70

# Some Unique tests for Arjun

In [144]:
df_all = pd.DataFrame(allD)
df_all

,full_name,name,symbol,Name_197,fuzz_socre1,fuzz_socre2
6758,2U Inc,2U Inc,TWOU,2U INC,100,100
76,3M Co DRC,3M DRC,MMM,3M CO,71,73
1446,Minco Capital Corp,Minco Capital,MMM,3M CO,26,33
2736,3M Company,3M,MMM,3M CO,67,57
8013,3M Co,3M,MMM,3M CO,100,57
...,...,...,...,...,...,...
28279,ZUU Co Ltd,ZUU,4387,ZUU CO LTD,100,46
17679,Zyber Holdings Ltd,Zyber Holdings,ZYB,ZYBER HOLDINGS LTD,100,88
6999,Zynga Inc,Zynga,ZNGA,ZYNGA INC - CL A,78,53
16729,Zytronic,Zytronic,ZYT,ZYTRONIC PLC,80,80
22375,ZZ Capital International Ltd,ZZ Capital Intl,8295,ZZ CAPITAL INTERNATIONAL LTD,100,70

In [165]:
len(df_197['symbol_x'].unique())

17954

In [146]:
df_test = df_197[df_197['symbol_x'].isin(df_inv['symbol'])]
df_test

      symbol_x                      longName
1         TWOU                        2U INC
3          MMM                         3M CO
4          88E                 88 ENERGY LTD
6         7063                  A DOT CO LTD
7        AMKBY  A P MOLLER-MAERSK-B-UNSP ADR
...        ...                           ...
19726     4387                    ZUU CO LTD
19728      ZYB            ZYBER HOLDINGS LTD
19733     ZNGA              ZYNGA INC - CL A
19734      ZYT                  ZYTRONIC PLC
19735     8295  ZZ CAPITAL INTERNATIONAL LTD

[11387 rows x 2 columns]

In [147]:
len(df_test['symbol_x'].unique())

9901

In [159]:
df_all[~df_all['symbol'].isin(df_match['symbol'])]

,full_name,name,symbol,Name_197,fuzz_socre1,fuzz_socre2
5706,AP Moeller-Maersk AS,AP Moeller-Maersk AS,AMKBY,A P MOLLER-MAERSK-B-UNSP ADR,71,71
7104,Amark Preci,Amark Preci,AMRK,A-MARK PRECIOUS METALS INC,59,59
37732,Amir Marketing and Investments in Agriculture Ltd,Amir Marketing,AMRK,A-MARK PRECIOUS METALS INC,32,50
22818,Aban Offshore Ltd.,Aban Offshore,ABAN,ABAN OFFSHORE LIMITED,89,76
33804,Abans Electricals PLC,Abans Electricals,ABAN,ABAN OFFSHORE LIMITED,38,42
...,...,...,...,...,...,...
12586,Zremb,Zremb,ZRE,ZUR ROSE GROUP AG,18,18
40263,BMO Equal Weight REITs,BMO Equal Weight REITs,ZRE,ZUR ROSE GROUP AG,26,26
14667,Zutec Holding,Zutec Holding,ZUTEC,ZUTEC HOLDING AB,90,90
6999,Zynga Inc,Zynga,ZNGA,ZYNGA INC - CL A,78,53
16729,Zytronic,Zytronic,ZYT,ZYTRONIC PLC,80,80

In [148]:
df_all.to_csv('inv_matching_result.csv')
df_match.to_csv('inv_matching_result(matched only).csv')

In [155]:
df_fail = df_stockList[~df_stockList.longName.isin(df_match.Name_197)].copy()
df_fail.to_csv('inv_matching_result(failed).csv')

df_fail

,symbol_x,longName,Exchange,Country,country,name,full_name,isin,currency_x,currency_y,...,Country_Final,Code,figi,compositeFIGI,shareClassFIGI,exchCode,marketSector,securityDescription,securityType,securityType2
0,1ST,1ST GROUP LTD,ASX,Australia,australia,NaN,NaN,NaN,NaN,AUD,...,Australia,1.0,BBG008HNLRF4,BBG008HNLRF4,BBG008HNLRG3,AU,Equity,1ST,Common Stock,Common Stock
2,DDDX,3DX INDUSTRIES INC,PINK,United States of America,united states of america,NaN,NaN,NaN,NaN,USD,...,United States of America,1.0,BBG000C129N6,BBG000C129N6,BBG001STRH79,US,Equity,DDDX,Common Stock,Common Stock
5,AQFD,A CLASSIFIED AD INC,VALUE,NaN,NaN,NaN,NaN,NaN,NaN,USD,...,United States of America,0.0,BBG0073FB9K3,BBG0073FB9K3,BBG0073FB9L2,US,Equity,AQFD,Common Stock,Common Stock
7,AMKBY,A P MOLLER-MAERSK-B-UNSP ADR,PINK,United States of America,united states of america,NaN,NaN,NaN,NaN,USD,...,United States of America,1.0,BBG000PNF9F9,BBG000PNF9F9,BBG001T3PMB1,US,Equity,AMKBY,ADR,Depositary Receipt
8,MLATV,A TOUTE VITESSE-ATV,SBF,France,france,NaN,NaN,NaN,NaN,EUR,...,France,1.0,BBG000JZMKC9,BBG000JZMJG8,BBG001SJDS90,FP,Equity,MLATV,Common Stock,Common Stock
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,ZYME,ZYMEWORKS INC,NYSE,United States of America,united states of america,NaN,NaN,NaN,NaN,USD,...,United States of America,1.0,BBG00GD15LJ5,BBG00GD15LJ5,BBG00247P1W0,US,Equity,ZYME,Common Stock,Common Stock
19731,ZYNE,ZYNERBA PHARMACEUTICALS INC,NASDAQ,United States of America,united states of america,NaN,NaN,NaN,NaN,USD,...,United States of America,1.0,BBG007BBS8B7,BBG007BBS8B7,BBG007BBS8C6,US,Equity,ZYNE,Common Stock,Common Stock
19732,ZYXI,ZYNEX INC,NASDAQ,United States of America,united states of america,NaN,NaN,NaN,NaN,USD,...,United States of America,1.0,BBG000BJBXZ2,BBG000BJBXZ2,BBG001S7T7V0,US,Equity,ZYXI,Common Stock,Common Stock
19733,ZNGA,ZYNGA INC - CL A,NASDAQ,Switzerland,switzerland,NaN,NaN,NaN,NaN,USD,...,United States of America,1.0,BBG000VD6768,BBG000VD6768,BBG001T24RN2,US,Equity,ZNGA,Common Stock,Common Stock
19734,ZYT,ZYTRONIC PLC,LSE,United Kingdom,united kingdom,NaN,NaN,NaN,NaN,GBP,...,United Kingdom,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [156]:
df_fail = df_inv_all[~df_inv_all.name.isin(df_match.name)].copy()

df_fail

,country,name,full_name,isin,currency,symbol,asset_class
0,argentina,Tenaris,Tenaris,LU0156801721,ARS,TS,equity
1,argentina,PETROBRAS ON,Petroleo Brasileiro - Petrobras,BRPETRACNOR9,ARS,APBR,equity
3,argentina,Ternium Argentina,Ternium Argentina SA,ARSIDE010029,ARS,TXAR,equity
4,argentina,Pampa Energia,Pampa Energia SA,ARP432631215,ARS,PAMP,equity
5,argentina,Telecom Argentina,Telecom Argentina,ARP9028N1016,ARS,TECO2,equity
...,...,...,...,...,...,...,...
51350,united states,Xtrackers Low Beta High Yield Bond,Xtrackers Low Beta High Yield Bond,US2330512672,USD,HYDW,bond
51351,united states,Xtrackers High Beta High Yield Bond,Xtrackers High Beta High Yield Bond,US2330512599,USD,HYUP,bond
51352,united states,Xtrackers Short Duration High Yield,Xtrackers Short Duration High Yield,US2330512839,USD,SHYL,bond
51353,vietnam,VFMVN30,VFMVN30,VN0E1VFVN306,VND,E1VFVN30,equity
51354,vietnam,SSIAM VNX50 ETF,SSIAM VNX50 ETF,VN0FUESSV504,VND,FUESSV50,equity

## Matching only by Company Name (with NLP)

In [170]:
match = []
allD = []

for index_197, row_197 in df_197.iterrows():
    for index_inv, row_inv in df_inv.iterrows():
        # calculate nlp scores
        fuzz_socre1 = fuzz.token_sort_ratio(row_197['longName'],row_inv['full_name'])
        fuzz_socre2 = fuzz.token_sort_ratio(row_197['longName'],row_inv['name'])
        
        # append to allD
        row_inv['Name_197'] = row_197['longName']
        row_inv['fuzz_socre1'] = fuzz_socre1
        row_inv['fuzz_socre2'] = fuzz_socre2
        
        if fuzz_socre1>90 or fuzz_socre2>90:
            match.append(row2)
    
    if index_197 % (len(df_197)//10) == 0:
        print("progress: %.2f" % (100*index_197/len(df_197)) + "%")

progress: 0.00%

KeyboardInterrupt:

In [171]:
match

[full_name      ZZ Capital International Ltd
 name                        ZZ Capital Intl
 symbol                                 8295
 Name_197       ZZ CAPITAL INTERNATIONAL LTD
 fuzz_socre1                             100
 fuzz_socre2                              70
 Name: 22375, dtype: object,
 full_name      ZZ Capital International Ltd
 name                        ZZ Capital Intl
 symbol                                 8295
 Name_197       ZZ CAPITAL INTERNATIONAL LTD
 fuzz_socre1                             100
 fuzz_socre2                              70
 Name: 22375, dtype: object,
 full_name      ZZ Capital International Ltd
 name                        ZZ Capital Intl
 symbol                                 8295
 Name_197       ZZ CAPITAL INTERNATIONAL LTD
 fuzz_socre1                             100
 fuzz_socre2                              70
 Name: 22375, dtype: object,
 full_name      ZZ Capital International Ltd
 name                        ZZ Capital Intl
 symbol                                 8295
 Name_197       ZZ CAPITAL INTERNATIONAL LTD
 fuzz_socre1                             100
 fuzz_socre2                              70
 Name: 22375, dtype: object,
 full_name      ZZ Capital International Ltd
 name                        ZZ Capital Intl
 symbol                                 8295
 Name_197       ZZ CAPITAL INTERNATIONAL LTD
 fuzz_socre1                             100
 fuzz_socre2                              70
 Name: 22375, dtype: object,
 full_name      ZZ Capital International Ltd
 name                        ZZ Capital Intl
 symbol                                 8295
 Name_197       ZZ CAPITAL INTERNATIONAL LTD
 fuzz_socre1                             100
 fuzz_socre2                              70
 Name: 22375, dtype: object,
 full_name      ZZ Capital International Ltd
 name                        ZZ Capital Intl
 symbol                                 8295
 Name_197       ZZ CAPITAL INTERNATIONAL LTD
 fuzz_socre1                             100
 fuzz_socre2                              70
 Name: 22375, dtype: object,
 full_name      ZZ Capital International Ltd
 name                        ZZ Capital Intl
 symbol                                 8295
 Name_197       ZZ CAPITAL INTERNATIONAL LTD
 fuzz_socre1                             100
 fuzz_socre2                              70
 Name: 22375, dtype: object,
 full_name      ZZ Capital International Ltd
 name                        ZZ Capital Intl
 symbol                                 8295
 Name_197       ZZ CAPITAL INTERNATIONAL LTD
 fuzz_socre1                             100
 fuzz_socre2                              70
 Name: 22375, dtype: object,
 full_name      ZZ Capital International Ltd
 name                        ZZ Capital Intl
 symbol                                 8295
 Name_197       ZZ CAPITAL INTERNATIONAL LTD
 fuzz_socre1                             100
 fuzz_socre2                              70
 Name: 22375, dtype: object,
 full_name      ZZ Capital International Ltd
 name                        ZZ Capital Intl
 symbol                                 8295
 Name_197       ZZ CAPITAL INTERNATIONAL LTD
 fuzz_socre1                             100
 fuzz_socre2                              70
 Name: 22375, dtype: object,
 full_name      ZZ Capital International Ltd
 name                        ZZ Capital Intl
 symbol                                 8295
 Name_197       ZZ CAPITAL INTERNATIONAL LTD
 fuzz_socre1                             100
 fuzz_socre2                              70
 Name: 22375, dtype: object,
 full_name      ZZ Capital International Ltd
 name                        ZZ Capital Intl
 symbol                                 8295
 Name_197       ZZ CAPITAL INTERNATIONAL LTD
 fuzz_socre1                             100
 fuzz_socre2                              70
 Name: 22375, dtype: object,
 full_name      ZZ Capital International Ltd
 name                        ZZ Capital Intl
 symbol                                 8295
 Name_197       ZZ CAPITAL INTERNATIONAL LTD
 fuzz_socre1                             100
 fuzz_socre2                              70
 Name: 22375, dtype: object,
 full_name      ZZ Capital International Ltd
 name                        ZZ Capital Intl
 symbol                                 8295
 Name_197       ZZ CAPITAL INTERNATIONAL LTD
 fuzz_socre1                             100
 fuzz_socre2                              70
 Name: 22375, dtype: object,
 full_name      ZZ Capital International Ltd
 name                        ZZ Capital Intl
 symbol                                 8295
 Name_197       ZZ CAPITAL INTERNATIONAL LTD
 fuzz_socre1                             100
 fuzz_socre2                              70
 Name: 22375, dtype: object,
 full_name      ZZ Capital International Ltd
 name                        ZZ Capital Intl
 symbol                                 8295
 Name_197       ZZ CAPITAL INTERNATIONAL LTD
 fuzz_socre1                             100
 fuzz_socre2                              70
 Name: 22375, dtype: object,
 full_name      ZZ Capital International Ltd
 name                        ZZ Capital Intl
 symbol                                 8295
 Name_197       ZZ CAPITAL INTERNATIONAL LTD
 fuzz_socre1                             100
 fuzz_socre2                              70
 Name: 22375, dtype: object,
 full_name      ZZ Capital International Ltd
 name                        ZZ Capital Intl
 symbol                                 8295
 Name_197       ZZ CAPITAL INTERNATIONAL LTD
 fuzz_socre1                             100
 fuzz_socre2                              70
 Name: 22375, dtype: object,
 full_name      ZZ Capital International Ltd
 name                        ZZ Capital Intl
 symbol                                 8295
 Name_197       ZZ CAPITAL INTERNATIONAL LTD
 fuzz_socre1                             100
 fuzz_socre2                              70
 Name: 22375, dtype: object,
 full_name      ZZ Capital International Ltd
 name                        ZZ Capital Intl
 symbol                                 8295
 Name_197       ZZ CAPITAL INTERNATIONAL LTD
 fuzz_socre1                             100
 fuzz_socre2                              70
 Name: 22375, dtype: object,
 full_name      ZZ Capital International Ltd
 name                        ZZ Capital Intl
 symbol                                 8295
 Name_197       ZZ CAPITAL INTERNATIONAL LTD
 fuzz_socre1                             100
 fuzz_socre2                              70
 Name: 22375, dtype: object,
 full_name      ZZ Capital International Ltd
 name                        ZZ Capital Intl
 symbol                                 8295
 Name_197       ZZ CAPITAL INTERNATIONAL LTD
 fuzz_socre1                             100
 fuzz_socre2                              70
 Name: 22375, dtype: object,
 full_name      ZZ Capital International Ltd
 name                        ZZ Capital Intl
 symbol                                 8295
 Name_197       ZZ CAPITAL INTERNATIONAL LTD
 fuzz_socre1                             100
 fuzz_socre2                              70
 Name: 22375, dtype: object,
 full_name      ZZ Capital International Ltd
 name                        ZZ Capital Intl
 symbol                                 8295
 Name_197       ZZ CAPITAL INTERNATIONAL LTD
 fuzz_socre1                             100
 fuzz_socre2                              70
 Name: 22375, dtype: object,
 full_name      ZZ Capital International Ltd
 name                        ZZ Capital Intl
 symbol                                 8295
 Name_197       ZZ CAPITAL INTERNATIONAL LTD
 fuzz_socre1                             100
 fuzz_socre2                              70
 Name: 22375, dtype: object,
 full_name      ZZ Capital International Ltd
 name                        ZZ Capital Intl
 symbol                                 8295
 Name_197       ZZ CAPITAL INTERNATIONAL LTD
 fuzz_socre1                             100
 fuzz_socre2                              70
 Name: 22375, dtype: object,
 full_name      ZZ Capital International Ltd
 name                        ZZ Capital Intl
 symbol                                 8295
 Name_197       ZZ CAPITAL INTERNATIONAL LTD
 fuzz_socre1                             100
 fuzz_socre2                              70
 Name: 22375, dtype: object]